<!DOCTYPE html>
<html>
 
  <%- include('header', {pagename: 'Despre Evrika 2020', AditionalCSS: "css/evrika.css"}); -%>
  <body>
  <div class="row">
    <div class="container">
      <div class="card large">
        <div class="row flexbox">
          <div class="col xl6">
            <div class="card-content">
              <h5 class="title-about">ABOUT US</h5>
              <div class="valign-wrapper">
                <p class="flow-text text-area center-align">Deoarece Evrika este printre cele mai îndrăgite concursuri, am hotărât să organizăm și cea de-a IV-a ediție, dar într-o notă aparte, respectând regulile de distanțare socială. Locația nu va mai fi cea obișnuită, participanții fiind prezenți pe aplicația Discord, iar spectatorii pe platforma de streaming Twitch.<br>
                  Prin intermediul competiției te vei putea afirma printre colegii tăi și vei avea unica șansă de a te înfrunta cu profesorii într-o provocare a cunoștințelor de cultură generală.<br>
                  Dacă tot ai ajuns până aici, găsește-ți un partener și înscrie-te pe site-ul nostru, începând cu data de 23 octombrie, pentru a te întâlni pe 7 noiembrie la faza preliminară și pe 14 noiembrie la faza finală.
                </p>
                </div>
            </div>
          </div>

          <div class="col xl6">
            <div class="card-image image-about">
              <img src="imagini/About_us.svg" id="design_image"> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
