<!DOCTYPE html>
<html>
  <%- include('header', {pagename: 'Home 2020', AditionalCSS: ""}); -%>
  <body>
  <div class="row flexbox custom"> 
        <img src="imagini/Bec.png" class="image-home">
  </div>

  <div class="row flexbox">
    <div class="card padding">
      <div class="card-content">
        <h4 class="title">10 categorii</h4>
        <h4 class="title">14 Noiembrie</h4>
        <h4 class="title">In mediul online</h4>
      </div>
    </div>
  </div>

      <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
