<!DOCTYPE html>
<html>

  <%- include('header', {pagename: 'Evrika 2020', AditionalCSS: ""}); -%>
  <!-- Navbar -->

  <body>
  <div class="row flexbox custom"> 
        <img src="imagini/Evrika.png" class="image-home">
  </div>

  <div class="row flexbox">
    <div class="card padding">
      <div class="card-content">
        <h1 class="title">HI <%= name %></h1>
        <form action="/logout?_method=DELETE" method="post">
            <input class="btn-large" style="margin-left: 2vw" type="submit" name="logout" id="logout" value="logOut">
        </form>
      </div>
    </div>
  </div>

      <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>

