<!DOCTYPE html>
<html>
  <%- include('header', {pagename: 'Log In', AditionalCSS: ""}); -%>

  <body>
  <div class="row">
    <div class="container">
      <div class="card large">
        <div class="row">
            <div id="form-container-2" class="card-content">
              <h5 class="title">Login</h5>
              <div id="form-container" class="row">
                      <form class="validate-form center-align" method="post" action="/login">

                        <div class="row flexbox position">
                          <div class="col s12">
                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Valid email is required: ex@abc.xyz">
                                <input id="email" type="text" name="email" class="validate" autocomplete="off" required>
                                <label for="email"><i class="fas fa-envelope icon-move"></i>&nbsp;Email</label>
                                
                              </div>
                            </div>

                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Password is required">
                                <input id="password" type="password" name="password" class="validate" autocomplete="off" required>
                                <label for="password"><i class="fas fa-lock icon-move"></i>&nbsp;Password</label>
                                
                                <div class="error-pop-up flow-text">
                                  <% if(messages.error) {%>
                                    <%= messages.error %>
                                  <%}%>
                                </div>
                                
                              </div>
                            </div>
                          
                        </div>
        
                        <div class="row">
                            <div class="buttons">
                              <button href="#" type="submit" class="btn-large">Login</button> <br>
                            </div>
                        </div>
        
                      </form>
        
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>

      <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
