<% if(role == 'ROLE_USER') { %>
  <nav>
    <div class="nav-wrapper">
      <a href="/" id="logoID" class="brand-logo logo-position"><img class="logo" src="./imagini/Bec.png"><strong>Uncknown!</strong></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
         
        <li><form action="/logout?_method=DELETE" method="post">
          <a> <input class="purple-text text-darken-4", style="border: none; background-color: white;" type="submit" name="logout" id="logout" value="Log Out"></a>
      </form></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
    <li><form action="/logout?_method=DELETE" method="post">
      <a> <input class="purple-text text-darken-4", style="padding-left: 30px; border: none; background-color: white;" type="submit" name="logout" id="logout" value="Log Out"></a>
  </form></li>
  </ul> 
<% } else if(role == 'ROLE_ADMIN') { %>
  <nav>
    <div class="nav-wrapper">
      <a href="/" id="logoID" class="brand-logo logo-position"><img class="logo" src="./imagini/Bec.png"><strong>Unknown</strong></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
         
        <li><a href="/admin">Start Runda</a></li>
        <li><form action="/logout?_method=DELETE" method="post">
          <a> <input class="purple-text text-darken-4", style="border: none; background-color: white;" type="submit" name="logout" id="logout" value="Log Out"></a>
      </form></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
    <li><a href="/admin">Start Runda</a></li>
    <li><form action="/logout?_method=DELETE" method="post">
      <a> <input class="purple-text text-darken-4", style="padding-left: 30px; border: none; background-color: white;" type="submit" name="logout" id="logout" value="Log Out"></a>
  </form></li>
  </ul> 
<% } else if(role == 'ROLE_MULTIMEDIA') { %>
    <nav>
      <div class="nav-wrapper">
        <a href="/" id="logoID" class="brand-logo logo-position"><img class="logo" src="./imagini/Bec.png"><strong>Unknown</strong></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
          <li><a href="/">UN TEXTbox trebuie pus aici</a></li>
        </ul>
      </div>
    </nav>
  
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/home">Home</a></li>        
      <li><a href="/">UN TEXTbox trebuie pus aici</a></li>

    </ul> 
<% } else{ %>
  <nav>
    <div class="nav-wrapper">
      <a href="/" id="logoID" class="brand-logo logo-position"><img class="logo" src="./imagini/Bec.png"><strong>Unknown</strong></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
         
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul> 
<% } %>