<nav>
    <div class="nav-wrapper">
      <a href="evrika.lsacbucuresti.ro" id="logoID" class="brand-logo logo-position"><img class="logo" src="./imagini//logo_Evrika.svg"><strong>EVRIKA!</strong></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/partners">Partners</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/partners">Partners</a></li>
    <li><a href="/login">Login</a></li>
  </ul> 