<!DOCTYPE html>
<html>
  <%- include('header', {pagename: 'Parteneri Evrika 2020', AditionalCSS: "css/evrika.css"}); -%>
  

  <body>
    <div class="row">
      <div class="container">
        <div class="card large">
          <div class="row">
            <div class="col l12 xl9 flexbox top-bottom">
              <div class="row">
                <div class="col l12 xl4 spacing"><a href="https://www.museumofsenses.ro/" target="_blank" ><img src="imagini/MuseumOfSenses.png"></a></div>
                <div class="col l12 xl4 spacing"><a href="https://constantinnautics.ro/" target="_blank" ><img src="imagini/ConstantinNautics.png"></a></div>
                <div class="col l12 xl4 spacing"><a href="https://hbogo.ro/" target="_blank" ><img src="imagini/HBOGO.png"></a></div>
              </div>
              <br>
              <div class="row">
                <div class="col l12 xl4 spacing"><a href="https://comicsclub.ro/" target="_blank" ><img src="imagini/ComicsClub.png"></a></div>
                <div class="col l12 xl4 spacing"><a href="https://www.dominos-pizza.ro/" target="_blank" ><img src="imagini/Dominos.png"></a></div>
                <div class="col l12 xl4 spacing"><a href="https://www.worldclass.ro/" target="_blank" ><img class = 'size' src="imagini/World Class.png"></a></div>
              </div>
              <div class="row">
                <div class="col l12 xl4 spacing"><a href="https://lahussein.ro/" target="_blank" ><img class = 'size' src="imagini/Hussein.png"></a></div>
                <div class="col l12 xl4 spacing"><a href="https://www.americanexperience.ro/" target="_blank" ><img class = 'size' src="imagini/logo_ae_bg_red.svg"></a></div>
                <div class="col l12 xl4 spacing"><a href="#" target="_blank" ><img class = 'size_2' src="imagini/logo_lasertag.png"></a></div>
                <div class="col l12 xl4 spacing"></div>
                <div class="col l12 xl4 spacing"><a href="#" target="_blank" ><img class = 'size_2' src="imagini/logo pop cola negru.png"></a></div>
              </div>
            </div>

              <div class="card-image col xl3">
                <img src="imagini/Partners.svg" id="design_image" class="image">
              </div>

          </div>
        </div>
      </div>
    </div>

      <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
