<!DOCTYPE html>
<html>
  <%- include('header', {pagename: 'Register Evrika 2020', AditionalCSS: "css/evrika.css"}); -%>
  
  <!-- Navbar -->
  <%- include('../views/navbar.ejs'); %>

  <body>
  <div class="row">
    <div class="container">
      <div class="card large">
        <div class="row">
            <div id="form-container-2" class="card-content">
              <h5 class="title">Registration</h5>
              <div id="form-container" class="row">
                      <form class="validate-form center-align" method="post" action="/register">

                        <div class="row flexbox">
                            <div class="validate-input input-field">
                              <input id="echipa" type="text" name="teamName" class="validate" autocomplete="off" required>
                              <label for="echipa"><i class="fas fa-user-friends icon-move"></i>&nbsp;Team Name</label>
                          </div>
                          <div class="validate-input input-field">
                              <input id="password" type="password" name="password" class="validate" autocomplete="off" required>
                              <label for="password"><i class="fas fa-lock icon-move"></i>&nbsp;Password</label>
                          </div>
                        </div>

                        <div class="row flexbox">

                          <div class="col s12 m6">

                            <h6 class="title">First Member</h6>

                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti numele">
                                <input id="name1" type="text" name="firstName1" class="validate" autocomplete="off" required>
                                <label for="name1"><i class="fas fa-user icon-move"></i>&nbsp;First Name</label>
                                
                              </div>
                            </div>

                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti prenumele">
                                <input id="prenume1" type="text" name="lastName1" class="validate" autocomplete="off" required>
                                <label for="prenume"><i class="fas fa-user icon-move"></i>&nbsp;Last Name</label>
                                
                              </div>
                            </div>

                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti facultatea">
                                <input id="facultate1" type="text" name="faculty1" class="validate" autocomplete="off" required>
                                <label for="facultate1"><i class="fas fa-university icon-move"></i>&nbsp;Faculty</label>
                                
                              </div>
                            </div>
  
                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti email-ul">
                                <input id="email" type="text" name="email1" class="validate" autocomplete="off" required>
                                <label for="email"><i class="fas fa-envelope icon-move"></i>&nbsp;Email</label>
                                
                              </div>
                            </div>

                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti numarul de telefon">
                                <input id="telefon" type="text" name="phone1" class="validate" autocomplete="off" required>
                                <label for="telefon"><i class="fas fa-phone-alt icon-move"></i>&nbsp;Phone</label>
                                
                              </div>
                            </div>

                          </div>
                          


                          <div class="col s12 m6">

                            <h6 class="title">Second Member</h6>

                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti numele">
                                <input id="nume2" type="text" name="firstName2" class="validate" autocomplete="off" required>
                                <label for="nume2"><i class="fas fa-user icon-move"></i>&nbsp;First Name</label>
                                
                              </div>
                            </div>

                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti prenumele">
                                <input id="prenume2" type="text" name="lastName2" class="validate" autocomplete="off" required>
                                <label for="prenume2"><i class="fas fa-user icon-move"></i>&nbsp;Last Name</label>
                                
                              </div>
                            </div>

                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti facultatea">
                                <input id="facultate2" type="text" name="faculty2" class="validate" autocomplete="off" required>
                                <label for="facultate2"><i class="fas fa-university icon-move"></i>&nbsp;Faculty</label>
                                
                              </div>
                            </div>
  
                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti email-ul">
                                <input id="email2" type="text" name="email2" class="validate" autocomplete="off" required>
                                <label for="email2"><i class="fas fa-envelope icon-move"></i>&nbsp;Email</label>
                                
                              </div>
                            </div>

                            <div class="row flexbox">
                              <div class="validate-input input-field col l12" data-validate = "Introduceti numarul de telefon">
                                <input id="telefon2" type="text" name="phone2" class="validate" autocomplete="off" required>
                                <label for="telefon2"><i class="fas fa-phone-alt icon-move"></i>&nbsp;Phone</label>
                                
                              </div>
                            </div>

                          </div>

                        </div>
        
                        <div class="row">
                            <div class="buttons">
                              <button href="#" type="submit" class="btn-large">Register</button> <br>
                            </div>
                        </div>
        
                      </form>
        
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>

    <% if(error != null) {%>
        <%= error %>
    <%}%>

      <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
