<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <link href="/style_bad.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
</head>
<body>
<h1>Room:<%=namespace%></h1>
<h3> <%= user %> is READY</h3>
<input type="hidden" value="<%= namespace %>" id="namespace">
<input type="hidden" value="<%= pid %>" id="pid">
<div class="">
    <h1 id = "question">Acesta este un placeholhder?</h1>
    <div id="answers">
        <button id = "button0" name= "">DA</button>
        <button id = "button1" name= "">DA</button>
        <button id = "button2" name= "">DA</button>
        <button id = "button3" name= "">DA</button>
    </div>
</div>
<div class="timer" >
    <p id="timer">TIMER</p>
</div>
<script src="/user.js"></script>
</body>
</html>